# .clang-format configuration for VS Code / C/C++

# Base style to inherit from
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentAccessModifiers: True
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

# Brace placement
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: True
AlignClosingBraceWithControl: false # Closing braces are not indented
BreakAfterReturnType: TopLevelDefinitions

# Spaces
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements

# Line length 
ColumnLimit: 0 # 0 disables line wrapping entirely

# Other options (optional)
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly